name: Terraform Validate

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Validate labs
        shell: bash
        run: |
          set -euo pipefail
          #for d in lab0 lab1 lab2 lab3 lab4 lab5 lab6 lab7 lab8 lab9; do
          for d in lab0 lab1 ; do
            echo "::group::Validating $d"
            cd "$d"
            terraform fmt -recursive -check || true
            terraform init -backend=false -input=false -no-color
            terraform validate -no-color
            cd - >/dev/null
            echo "::endgroup::"
          done
